<div id="jumbotron">

  <div class="container" style="width: 300px; margin: auto;">
    <div class="site-logo d-none d-lg-block" style="position: absolute; left: 0; top: 48px; background-size: 150px 150px; z-index: 4">&nbsp;</div>
  </div>

  <div id="carousel" class="carousel slide" data-bs-ride="carousel" data-interval="4000">

    <!-- Wrapper for slides -->
    <div id="carousel-inner" class="carousel-inner">
      {{ $jumbotronFiles := readDir "/static/images/jumbotron/" }}
      {{ range $index, $element := $jumbotronFiles }}
          {{ $fileTitle := (index (split .Name "-") 1) }}
          {{ $fileTitle := (index (split $fileTitle ".") 0) }}
          <div class="carousel-item {{if eq $index 0}}active{{end}}">
              <img class="article-image img-responsive center-block w-100"
                    src="/images/jumbotron{{ $element.Name | relURL }}"
                 alt="{{ $fileTitle }}">
            <div class="carousel-caption">{{ $fileTitle }}</div>
          </div>
      {{ end }}
    </div>

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev" id="slider-prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next" id="slider-next">
      <span class="carousel-control-next-icon"></span>
    </button>

  </div> <!-- Carousel -->

  <div class="panel panel-default panel-body carousel-content">

    <div class="row">
      <div id="carousel-description" class="col-md-12">
        <b>Citra</b> ABCDEF is an open-source emulator for the Nintendo 3DS capable of playing many of your favorite games. <a href="/wiki/faq/">Learn More.<a/>
      </div>

      <div class="col-md-12 jumbotron-action" id="jumbotron-download" style="padding-top: 4%; padding-bottom: 2%; text-align: center;">
        <a href="/download/" class="btn button-action">Download Here</a>
      </div>
      <div class="col-md-12 jumbotron-action" id="jumbotron-support" style="padding-bottom: 2%; text-align: center;">
        <a href="/discord/" class="btn button-action">Join our Discord</a>
        <div class="divider"></div>
        <a href="https://community.citra-emu.org/" class="btn button-action">Join our Forums</a>
      </div>
    </div>
  </div>
</div>
