{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
  <nav aria-label="Pagination">
    <ul class="pagination justify-content-end">

      {{ if .Paginator.HasPrev }}
        <li class="page-item">
          <a class="page-link" rel="prev" href="{{.Paginator.Prev.URL | absURL}}">
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {{ end }}

      {{ if .Paginator.HasNext }}
        <li class="page-item">
          <a class="page-link" rel="next" href="{{.Paginator.Next.URL | absURL}}">
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {{ end }}

    </ul>
  </nav>
{{ end }}
